@use '../../partials/theme' as *;

.Game {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--bg-primary);

    &__layout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 42.5rem;
    }
}