@use '../../partials/theme' as *;

.PlayerCard {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.25rem;
        background-color: $fg-primary;

        &--d0 {
            background-color: $d0;
        }
        &--d1 {
            background-color: $d1;
        }
        &--d2 {
            background-color: $d2;
        }
        &--d3 {
            background-color: $d3;
        }
    }
    &__name {
        color: $fg-secondary;
        font-weight: bold;
    }
}