*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    width: 50rem;
    margin: 0 auto;
}
button, input {
    cursor: pointer;
    padding: 1px 6px;
}
.form {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form-heading {
    margin-bottom: 0.5rem;
    width: 100%;
}
.form-button {
    width: max-content;
}
.or {
    font-size: 1.17rem;
    color: grey;
}
.file-input, .text-input {
    width: 100%;
    height: 6rem;
    background-color: #fcfcfc;
    border: 1px dashed #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.file-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.file-types {
    color: grey;
    font-weight: 400;
    width: max-content;
    font-size: 0.875rem;
}
.text-input {
    resize: none;
    padding: 0.5rem;
    font-family: inherit;
}
.upload {
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    background-color: #fcfcfc;
    border: 1px dashed #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.progress-bar {
    width: 30rem;
    height: 0.5rem;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    overflow: hidden;
}
.progress {
    height: 0.5rem;
    width: 0%;
    background-color: #4797ff;
}
.pages {
    width: 30rem;
    font-size: 0.875rem;
    color: grey;
}
.pages span {
    font-weight: bold;
}
.hidden {
    display: none;
}
.results {
    margin: 2rem 0;
}
.results table {
    width: 100%;
    border-collapse: collapse;
}
.results th {
    text-align: left;
    font-size: 0.875rem;
    font-weight: 600;
}
.stat-label {
    display: flex;
    align-items: center;
    gap: 0.5rem
}
.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
}
.results h3 {
    margin-bottom: 0.5rem;
}
.pos-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.pos-filter label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: grey;
}
.results th, .results td {
    padding: 0.5rem 0;
}
.results td > * {
    vertical-align: middle;
}
.results tbody tr {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.results tbody tr:hover {
    background-color: #fcfcfc;
}
td.keyword {
    font-weight: 500;
}
.pos {
    font-size: 0.75rem;
    color: grey;
}
.percent {
    color: grey;
}
.graph {
    width: 14rem;
    height: 0.5rem;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}
.bar {
    height: 0.5rem;
    position: absolute;
}
.icon {
    width: 1rem;
    height: 1rem;
    user-select: none;
    opacity: 0.5;
}
.rotate180 {
    transform: rotate(180deg);
}
.context {
    background-color: #fcfcfc;
}
.context:hover {
    cursor: auto;
}
.context ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
}
mark {
    display: inline-block;
    background-color: #3366cc50;
    font-weight: bold;
    line-height: 0em;
    padding-bottom: 0.5em;
}
/* .highlight::before {
    content: "";
    background-color: #ff9900;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 0;
} */