$bg-primary: #302e2b;
$bg-secondary: #21201e;
$bg-tertiary: #262522;
$square-light: #efd9b5;
$square-dark: #b48863;
$fg-primary: #fff;
$fg-secondary: #b1b1b0;
$fg-tertiary: #838280;
$square-hl: #ffff0033;
$win-hl: #ff000050;
$hint-hl: #96bc4b75;
$btn-primary: #7fa650;
$d0: #96bc4b;
$d1: #f0c15c;
$d2: #e6912c;
$d3: #ca3431;