.dark {
    --bg-primary: #121213;
    --fg-primary: #ffffff;
    --fg-secondary: #bbb;
    --border-primary: #3a3a3c;
    --green: #538d4e;
    --yellow: #b59f3b;
    --grey: #3a3a3c;
}
.light {
    --bg-primary: #ffffff;
    --fg-primary: #000000;
    --fg-secondary: #666666;
    --border-primary: #d3d6da;
    --green: #6aaa64;
    --yellow: #c9b458;
    --grey: #787c7e;
}